<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    
    
    <bean id="developer" class="com.paralun.app.constructor.Developer" autowire="constructor" />
    
    <bean id="language" class="com.paralun.app.constructor.Language">
        <property name="name" value="Indonesia" />
    </bean>

</beans>
