<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <bean class="com.paralun.app.CustomDateEditorRegistrar" />
            </list>
        </property>
    </bean>
    
    <bean id="customCustomer" class="com.paralun.app.Customer">
        <property name="date" value="2016-11-20" />
    </bean>

</beans>
